.card{
    margin: .5em;
    max-width: 220px !important;
}

iframe{
    border: none;
    margin-top: 0;
}

@media(min-width:578px )
{
    .card{
        max-width: 345px !important;
        margin: 2em;
    }
}